:root {

	/* cores */
    --lilas_escuro: #272744;
	--lilas_medio: #494d7e;
	--lilas_claro: #8b6d9c;
    --rosa_claro: #c69fa5;
	--base_media: #f2d3ab;
	--base_claro: #fbf5ef;

	--largura-paragrafo: 50vw;

}

/* pagina toda */
body {

	background: var(--base_media);
	margin: 0px;
	padding: 0px;

}

/* containers */
.container {

    background: var(--base_media);
    width: 100%;
    height: fit-content;
    min-height: 100vh;

}

.base_paginas {

	width: 100vw;
	height: fit-content;
	min-height: 25vh;
	
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	background-color: var(--base);
}

/* menu de navegação */
.menu {

    width: 100%;
    background-color: var(--lilas_claro);
    height: 12vh;
    
    display: flex;
    flex-direction: row;
    justify-content: none;

}

/* imagem da logo do menu */
.logo_menu img {

    width: 200px; 
    height: auto; 

}

/* botões de navegação do menu */
.botoes_menu {

    /* tamanho e formato */
    margin-top: 3.5vh;
    width: 5px; 
    height: 40px; 
    border-radius: 10px;

    /* cores */
    background-color: var(--lilas_medio);
    color: var(--base_media);

    /* texto do btn */
	text-decoration: none;
	font-size: 13pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
    font-weight: bold;
  

    /* alinhamento */
    min-width: 10vw;
    width: fit-content;
    display: flex; 
    align-items: center; 
    justify-content: center; 

    /* espaçamento entre os btn */
    margin-left: 9px;

    /* transição */
	transition: ease-in-out .1s;

}

/* botões de navegação do menu: animação */
.botoes_menu:hover {
	scale: 1.075;

}

/* grade da página de gatos disponíveis */
.grade {
 
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
    
        margin-top: 40px;
        margin-left: 20vw;

        row-gap: 5vh;
        column-gap: 1vw;

        width: fit-content;
    
}

/* primeira camada do frame */
.frame_grade {

    width: 9vw;
	min-height: fit-content;
	min-height: 3vh;

	display: flex;
	flex-direction: column;

	align-items: center;

	border-radius: 10pt;
	padding: 2.5rem;
    padding-top: 1rem;

	background-color: var(--lilas_escuro);

}

/* segunda camada do frame ( a que contem uma imagem )*/
.frame_imagem {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    background-color:var(--lilas_medio);
    padding: 15%;
    padding-top: 1%;
    margin-bottom: 1px;
	transition: ease-in-out .2s;

}

/* imagem inserida em cada frame */
.frame_imagem_tamanho {

    padding: 2rem;
    padding: 1rem;
    width: 9vw;
    height: 9vw; 
    border-radius: 25px;

}