:root {

	/* cores */
    --lilas_escuro: #272744;
	--lilas_medio: #494d7e;
	--lilas_claro: #8b6d9c;
    --rosa_claro: #c69fa5;
	--base_media: #f2d3ab;
	--base_claro: #fbf5ef;

	--largura-paragrafo: 50vw;
}

/* pagina toda */
body {

	background: var(--base_claro);
	margin: 0px;
	padding: 0px;
}

/* containers */
.container {

    width: 100%;
    height: fit-content;
    min-height: 100vh;

}

/* menu de navegação */
.menu {

    width: 100%;
    background-color: var(--lilas_claro);
    height: 12vh;
    
    display: flex;
    flex-direction: row;
    justify-content: none;

}

/* imagem da logo do menu */
.logo_menu img {

    width: 200px; 
    height: auto; 

}

/* botões de navegação do menu */
.botoes_menu {

    /* tamanho e formato */
    margin-top: 3.5vh;
    width: 5px; 
    height: 40px; 
    border-radius: 10px;

    /* cores */
    background-color: var(--lilas_medio);
    color: var(--base);

    /* texto do btn */
	text-decoration: none;
	font-size: 13pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
  

    /* alinhamento */
    min-width: 10vw;
    width: fit-content;
    display: flex; 
    align-items: center; 
    justify-content: center; 

    /* espaçamento entre os btn */
    margin-left: 9px;

    /* transição */
	transition: ease-in-out .1s;

}

/* botões de navegação do menu: animação */
.botoes_menu:hover {
	scale: 1.075;
}